.navbar>.container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80px;    
}
.bg-body-tertiary{
    padding: 5px 0px;
    background-color: rgba(56, 215, 255, 0.62) !important;
}
.btn{
    background-color: aliceblue;
}

.dropdown-menu.show {
    padding-bottom: 0px;
}

.navbar-collapse {
    background-color: transparent;
    z-index: 99;
}

.flex {
    display: flex ;
    padding: 10px 0px;
}


    @media (max-width: 992px) {
        .navbar-collapse {
          background-color: white;
          margin-top: 20px;
          padding-bottom: 20px;
        }
        #searchInput{
            width: 250px;
            float: right;
            display: block;
        }
        .d-flex{
            display: block;
            float: right;
        }
      }
